<div>
    <div>
        <span>pyfoundations/</span>
        <span> A Python Web App</span>
        <p>Help Guide</p>
        <div>
            <p>General Information</p>
            <p>
                pyfoundations is a basic Python web app, with a few spicy goodies thrown in. It's an experiment
                by on what is possible with disruptive technology and agile practices. 
            </p>
            <p>
                Here's a return from the basicsbits.py I've pulled in from a template
            </p>
            <p>
                {{pyfoundationsanswer}}
            </p>
            <p>
                Explore more content in the options below.
            </p>
        </div>
        <div>
            <p>How to speak pyfoundations</p>
            <p>
                This guide is on page, but it doesn't have to be
            </p>
            <ul>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr />
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr />
                <li>List item hooray</li>
                <li>List item hooray</li>
            </ul>
        </div>
        <div>
            <p>Limitations / Bugs</p>
            <p>
                More guide content here. Modify to your will
            </p>
            <p>
                We hope pyfoundations is actually helpful.
            </p>
        </div>
        <div>
            <p>Examples</p>
            <p>
                More guide content. Just add what you need and connect the buttons wih js and the ids
            </p>
            <ul>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr />
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr />
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr />
            </ul>
        </div>
    </div>
    <ul>
        <li><a href="#top">General Information</a></li>
        <li><a href="#top">How to speak pyfoundations</a></li>
        <li><a href="#top">Examples</a></li>
        <li><a href="#top">Limitations/Bugs</a></li>
        <li><a href="https://github.com/DIS-SIN/pyfoundations">Github Source Code</a></li>
        <li><a>Close Help Guide</a></li>
    </ul>
</div>
