<footer>
    <div>
        <span>{{dolanswer}}</span>
        <div>
            <p>dol Console</p>
            <p>Answer (dol Picked):</p>
            <pre>{{dolanswer}}</pre>
            <p>Understanding (AI Framework) Reply:</p>
            <pre>{{dolanswer}}</pre>
            <p>dol Knows (All Answers):</p>
            <pre>{{dolanswer}}</pre>
        </div>
        <div>
            <button>Toggle dol Console</button>
        </div>
        <p>
            Want to see how we built the dol? Check out our <a href="https://github.com/DIS-SIN/dol">github repository for the code</a>. It's small, and we got it running in 24 hours.
        </p>
        <p>
            dol knows about disruptive technology and how it matters to the Canadian government. 
        </p>
    </div>
</footer>
