<div>
    <div>
        <div>
            <h1>
                <a href="/"><strong>alpha</strong></a> | dol
                <span>
                    <strong>
                        {{dolanswer}}
                    </strong>
                </span>
                <a id="top" name="top"></a>
            </h1>
        </div>
        <div>
            <div>
                <ul>
                    <li><a href="#">English</a></li> 
                    <li><a href="#">Français</a></li>
                </ul>
            </div>
            <div>
                <div>
                    <small>
                        A small note on the page that disappears on small screens
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
