<!-- jQuery first, then Metro UI JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{url_for('static', filename='pyfoundations/js/pyfoundations-material.js')}}"></script>
</body>
</html>
