<footer>
    <div>
        <span>{{pyfoundationsanswer}}</span>
        <div>
            <p>pyfoundations Console</p>
            <p>Answer (pyfoundations Picked):</p>
            <pre>{{pyfoundationsanswer}}</pre>
            <p>Understanding (AI Framework) Reply:</p>
            <pre>{{pyfoundationsanswer}}</pre>
            <p>pyfoundations Knows (All Answers):</p>
            <pre>{{pyfoundationsanswer}}</pre>
        </div>
        <div>
            <button>Toggle pyfoundations Console</button>
        </div>
        <p>
            Want to see how we built the pyfoundations? Check out our <a href="https://github.com/DIS-SIN/pyfoundations">github repository for the code</a>. It's small, and we got it running in 24 hours.
        </p>
        <p>
            pyfoundations knows about disruptive technology and how it matters to the Canadian government. 
        </p>
    </div>
</footer>
