<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>alpha | dol | Getting you started, to help build the digital government.</title>
<link href="{{url_for('static', filename='dol/images/favicon.ico')}}" rel="icon" type="image/x-icon"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<link rel="stylesheet" href="{{url_for('static', filename='dol/css/dol-material.css')}}">

</head>
<body>
