<footer>
    <div class="remark primary cell-12" style="background: rgb(225,228,231);padding-bottom: 3em;">
        <span id="q_asked" style="color:white;">{{pyfoundationsanswer}}</span>
        <div id="pyfoundations_console" style="display: none;">
            <p class="fg-gray"><span class="mif-calculator2"></span> pyfoundations Console</p>
            <span class="mif-bubbles"></span> Answer (pyfoundations Picked):<pre>{{pyfoundationsanswer}}</pre>
            <span class="mif-settings-ethernet"></span> Understanding (AI Framework) Reply:<pre>{{pyfoundationsanswer}}</pre>
            <span class="mif-flow-tree"></span> pyfoundations Knows (All Answers):<pre>{{pyfoundationsanswer}}</pre>
        </div>
        <div id="toggle_pyfoundations_console">
            <button class="button secondary"><span class="mif-file-code"></span> Toggle pyfoundations Console</button>
        </div>
        <p>
            Want to see how we built the pyfoundations? Check out our <a href="https://github.com/DIS-SIN/gopyfoundations">github repository for the code</a>. It's small, and we got it running in 24 hours.
        </p>
        <p>
            pyfoundations knows about disruptive technology and how it matters to the Canadian government. 
        </p>
    </div>
</footer>
